<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rmuc2023">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0980948521287592 0.114196546348459 0.101197125510992"
        rpy="0 0 0" />
      <mass
        value="260478.340215205" />
      <inertia
        ixx="6204794.24281369"
        ixy="1747201.87094851"
        ixz="-3363.31394333057"
        iyy="22725701.7621667"
        iyz="-73.4040421918579"
        izz="28835593.7073625" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rmuc2023/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rmuc2023/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>