<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rmuc2023">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="14.691663718838 7.95412365562728 0.0300593649241683"
        rpy="0 0 0" />
      <mass
        value="238258.08982698" />
      <inertia
        ixx="3159213.33138032"
        ixy="-50441.2782428852"
        ixz="-914.698588719786"
        iyy="10245559.4140008"
        iyz="-125.320175011913"
        izz="13396343.7928031" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rmuc2023/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rmuc2023/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>